# Ignore node_modules
node_modules/

# Ignore environment variables
.env
.env.local

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore build files
dist/
out/

# Ignore system files
.DS_Store
Thumbs.db